/* Google font link */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins&family=Roboto&display=swap');
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* header part starts here */
    header{
        display: flex;
        width:100%;
        background-color: rgba(247, 241, 240, 0.404);
        border-bottom:1px solid rgb(148, 141, 141);
    }
    .logo-img{
        width:40%;
    }
  .logo{
      margin:10px;
      padding:10px;
      width:100px;
      height:100px;
      display: inline-block;
  }
  .menu{
  
    padding-top:55px;
    overflow:hidden;

  }
  .menu a{
    display: inline-block;
    margin-left:60px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color:gray;
  }
/* header part ends here */

/* Starts First-scetion */
.wrapper{
    display: flex;
    margin-bottom:120px;
    
    border-top:1px solid rgb(197, 187, 187);
}
#first-image{
    width:600px;
} 
.right-side{
    margin-right:5%;
    margin-top:100px;
    padding-left:100px;
    
}
.left-side{
    margin-top:10%;
}
.half-width{
    width:40%;
    margin-left:5%;
    padding-top: 50px;
    
}
.font-large{
    font-size:50px;
    font-weight:700;
    line-height: 40px;
    color:rgb(68, 58, 58)

}
.color{
    color:orange;
}

.link-btn{
    text-decoration: none;
    padding:10px 30px;
    border-radius: 25px;
    color:#fff;
    background-image: linear-gradient(orange,tomato);
    
}
p{
    font-size:18px;
    text-align: justify;
}
#bg-image{
    background-image: url(img/7.png);
    background-repeat: no-repeat;
    overflow: hidden;
}
#second-image{
  
    padding-left:100px;
}
#about-me{
    font-size:40px;
    font-weight: bolder;
    color:rgb(51, 52, 53)
}
/* .about{
    width:80%;
    padding-left:30px;
  
} */
.container{}

.content-wrapper{
    display: flex;
}
.container-single{
    width:28%;
    margin-left:4%;
    border-radius: 20px;
    box-shadow: 2px 4px 8px 4px rgb(204, 200, 200);
}
.title-heading{
    padding:0px 15px;
  
}
.title-para{
    padding:0px 15px;
    text-align: left;
    
}
.recipie-h{
    text-align: center;
    color:rgb(70, 66, 66);
    font-size:40px;
    font-weight:700;
}
.recipie-p{text-align: center;}
.title-image{
    width:80%;
    margin:0 auto;
    display: block;
    padding:20px 0;
    
}
.heading-para{
    text-align: center;
    margin:0 auto;
    width:50%;
    padding-bottom: 15px;
   
}
.footer{
    width:100%;
    background-color: #000;
    color:snow;
    padding:30px 0px 50px 0px;
    margin-top:60px;
}
.gradie{
    background: linear-gradient(to right, #dd0ad3 , #0ac275 );
    font-weight: 700;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.foot-pa{
    text-align: center;
    
}
#foot-head{ text-align: center;
color:rgb(51, 49, 51);}

